<h1>Thông tin người dùng</h1>
<!-- Hiển thị thông tin người dùng ở đây -->
<p>Tên người dùng: hihi</p>
<!-- ... -->

<!-- Form để thực hiện hành động follow -->

  <%= submit_tag 'Follow', class: 'btn btn-primary' %>
